# Server Configuration
PORT=

# Database Configuration
MONGODB_URL=

# Mailtrap SMTP Configuration
MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USERNAME=
MAILTRAP_PASSWORD=
MAILTRAP_SENDERMAIL=
